<h3>Formulaire de contact</h3>
<div class="well">
  
  
  {{ form_start(formContact, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(formContact) }}
      
  <div class="form-group">    
    {{ form_label(formContact.sujet, "Sujet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    <div class="col-sm-10">      
		{{ form_widget(formContact.sujet, {'attr': {'class': 'form-control'}}) }}	  	  
		{{ form_errors(formContact.sujet ) }}
    </div>
  </div>
  
  <div class="form-group">
    {{ form_label(formContact.message, "Votre message", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    
    <div class="col-sm-10">
		{{ form_widget(formContact.message, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(formContact.message) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(formContact.mailSrc, "Votre mail", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}   
	
    <div class="col-sm-10">
		{{ form_widget(formContact.mailSrc, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(formContact.mailSrc) }}
    </div>
  </div>  
  
  {{ form_widget(formContact.send, {'attr': {'class': 'btn btn-primary'}}) }}
  
  {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }}">
                                {{ flash|trans }} 
                            </div>
                        {% endfor %}
                    {% endfor %}
  {{ form_rest(formContact) }}
  
  {{ form_end(formContact) }}  
</div>